*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cera Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  position: relative;
  background: white;
  border-bottom: 10px solid #46A358;
  padding-bottom: 25px;

}

.register {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.close {
  position: absolute;
  top: 13px;
  right: 13px;
  background: none;
  border: none;
  cursor: pointer;
}

.close img {
  width: 18px;
  height: 18px;
}


.auth__tabs {
  margin-top: 52px;
  display: inline-flex;
  gap: 10px;

}

.tab {
  color: #3D3D3D;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.active {
  color: #46A358;
}

.divider {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #3D3D3D;
  text-align: center;
}

.form input {
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

}

.form input::placeholder {
  color: #A5A5A5;
  opacity: 0.5;
}

.register-btn {
  margin-top: 25px;
  /* width: 300px; */
  padding: 16px 0 13px;
  background-color: #46A358;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.password {
  background: url("../icons/pswrd_eye.svg") no-repeat right 10px center;

}

.divider-social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.divider-social span {
  flex: 1;
  height: 1px;
  background: #e5e5e5;
}

.divider-social p {
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
  color: #3D3D3D;
  white-space: nowrap;
}

.social-btn {
  width: 100%;
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #727272;
  cursor: pointer;
  margin-bottom: 15px;
}

.social-btn img {
  width: 20px;
  height: 20px;
}

.social-login {
  width: 300px;
}

/* HEADER */

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  padding-top: 30px;

}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid #46A35880;
  padding-bottom: 18px;
}

.btn {
  display: inline-block;
  background: #46A358;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;


}

.btn:hover {
  background: #3d8f4c;
  box-shadow: 0 5px 15px rgba(70, 163, 88, 0.3);
}




.icon-logout {
  width: 20px;
  height: 20px;
  fill: none;
}

.logo--img {
  width: 150px;
  height: 34.3px;
}




.login a {
  text-decoration: none;
}

.nav>ul {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 10px 0;
  z-index: 100;
  width: 188px;
  padding-top: 40px;
}

.dropdown li {
  list-style: none;
  background: #EDF6EE;
  position: relative;
}

.dropdown>li:has(.submenu):after {
  content: "";
  width: 10px;
  height: 10px;
  border: solid #3D3D3D;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg) translateY(-50%);
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
}

.dropdown>li:has(.submenu):hover:after {
  border-color: #EDF6EE;
  transform: rotate(-135deg) translateY(7px);
}




.dropdown li:hover .submenu {
  display: block;
}


.dropdown a {
  color: #3D3D3D;
  display: block;
  border-bottom: 1px solid #EDF6EE;
  padding: 7px 14px;
}

.submenu {
  padding-left: 2px;
  top: 40px;
  position: fixed;
  left: 100%;
  width: 178px;
  display: none;
}



.dropdown li:hover>a {
  background-color: #1A712A;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;

}

.nav-item:hover .dropdown {
  display: block;
}



.nav .nav-link--active {
  font-weight: 700;

}

.nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #3D3D3D;

}

.nav .nav-link--active:after {
  opacity: 1;
}

.nav-link {
  display: inline-block;
  position: relative;

}

.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 3px;
  background: #46A358;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:hover>.nav-link::after {
  opacity: 1;
}

.nav-link:hover {
  color: black;
  font-size: 16px;

}

.nav-item:hover>a {
  color: black;
  font-size: 16px;
  opacity: 1;
}


.header .btn {
  padding: 7px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



.login-btn img {
  width: 16px;
  height: 16px;
}

/* HERO */
main {
  margin-top: 12px;

}

.hero-text {
  width: 60%;
  flex-shrink: 0;
}

.hero-image {
  max-width: 500px;
}

.hero-image img {
  width: 100%;
  display: block;
}

.hero-inner {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 40px;

}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
}

h1 span {
  color: #46A358;
}

.description {
  padding-right: 114px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.hero .btn {
  padding: 11px 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  text-transform: uppercase;

}

/* ===PRODUCTS=== */

.products .container {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.products {
  margin-top: 50px;
}


.sidebar {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  background: #FBFBFB;


}

.sidebar-categories {
  margin-left: 18px;
}

.sidebar h3 {
  font-size: 18px;
  line-height: 16px;
}

.categories {
  list-style: none;
  padding: 0;
  padding-left: 12px;

}

.categories a {
  text-decoration: none;
  color: #3D3D3D;
  font-weight: 400;
  font-size: 15px;
}

.categories li {
  margin-top: 23px;
}

.categories a.active {
  color: #46A358;
  font-weight: 700;
}

.categories a:hover {
  color: #46A358;
}

.sale {
  margin-top: auto;
}

.sale a {
  display: block;
}

.sale img {
  width: 100%;
}

.products-content {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tabs {

  display: flex;
  gap: 30px;
  padding: 0;
  list-style: none;


}



.tabs .tabs--active {
  padding-bottom: 7px;
  border-bottom: 2px solid #46A358;
}

.tabs a {
  text-decoration: none;
  color: #3D3D3D;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;


}

.tabs a:hover {
  color: #46A358;
}

.tabs a {
  position: relative;
  text-decoration: none;
  color: #3D3D3D;
  padding-bottom: 5px;
}




.tabs li a.active {
  color: #46A358;

  font-weight: 700;
  font-size: 15px;
  line-height: 16px;

}





.sort {

  font-size: 15px;
  color: #3D3D3D;
}

.sort #sort {
  border: none;
  cursor: pointer;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.product-card {
  width: calc(33.333% - 20px);
  border-top: 1px solid #FBFBFB;
}



.product-card__image {
  position: relative;
  background: #FBFBFB;
  padding-bottom: 40px;
}

.product-card__actions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  list-style: none;
  padding: 0;
  margin: 0;

  opacity: 0;
  transition: 0.3s;
}

.product-card__actions button {
  width: 35px;
  height: 35px;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__actions button svg {
  width: 20px;
  height: 20px;
  fill: #3D3D3D;
  transition: 0.3s;
}

.product-card__actions button:hover svg {
  fill: #46A358;
}

.product-card:hover {
  border-top: 1px solid #46A358;
}

.product-card:hover .product-card__actions {
  opacity: 1;

}

.product-card__image span {
  top: 11px;
  left: 0;
  position: absolute;
  padding: 7px 8px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #46A358;
  text-transform: uppercase;


}

.sale-green::after {
  content: "$229.00";
  margin-left: 16px;
  color: #CBCBCB;
  text-decoration: line-through;
}

.product-card-title {
  color: #3D3D3D;
  font-size: 16px;
  line-height: 16px;
}

.product-card-price {
  margin-top: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

/*  TOP BANNERS & BLOG */
.blog-section {
  margin-top: 200px;
}

.promo {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.promo-card {
  padding-top: 37px;
  padding-right: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  background: #FBFBFB;
}


.promo-card img {
  margin-top: -64px;
}

.promo-text {

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: right;
  margin-left: -40px;
}

.promo-text h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 120px;

}

.promo-text p {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-top: 9px;
}

.promo-text .btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;


  margin-top: 25px;
  padding: 10px 27px;
}

.blog h2 {
  margin-top: 130px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #3D3D3D;
}

.blog p {
  margin-top: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.blog-list {
  margin-top: 35px;
  display: flex;
  gap: 42px;
  align-items: flex-start;
}

.blog-card {
  flex: 1;
}

.blog-card img {
  width: 100%;

}

.blog-card-text {
  padding: 9px 10px 12px;

}

.blog-card-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;

}

.blog-card-text h4 {
  margin-top: 4px;
  font-size: 20px;
  line-height: 26px;
  color: #3D3D3D;
}

.blog-card-text p {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  margin-top: 4px;
  text-align: left;
}

.blog-card-text a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  text-decoration: none;
  margin-top: 9px;
  display: inline-flex;
  align-items: center;
  gap: 4px;

}

.blog-card-text a:hover {
  color: #46A358;
}

.icon-arrowRightLong {

  width: 14px;
  height: 14px;
  fill: currentColor;
}



.blog-card-text-h4 {
  padding-right: 32px;
}



/* PAGINATION */
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 90px;
}

.page {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  text-decoration: none;
  color: #3D3D3D;
  font-size: 18px;
}

.page.active {
  background: #46A358;
  color: #fff;
  border-color: #46A358;
}

.page:hover {
  background: #46A358;
  color: #fff;
  border-color: #46A358;
}

.icon-arrowRight {
  width: 7px;
  height: 12px;
  fill: none;
}

/* FEATURES */

.features {
  margin-top: 115px;
}

.features__inner {
  display: flex;
  gap: 60px;
  background-color: #FBFBFB;
  padding: 25px;
}

.features__list {

  display: flex;
  gap: 30px;
  flex: 1.6;

}

.features__item {
  padding-top: 110px;
  position: relative;
}

.features__item--garden {
  background: url("../img/garden.svg") no-repeat;

}

.features__item--plant {
  background: url("../img/plant.svg") no-repeat;

}

.features__item--watering {
  background: url("../img/watering.svg") no-repeat;

}

.features__item p {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}


.features__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background: #46A3581A;

}


.features__newsletter {
  padding-top: 13px;
  flex: 1;
}

.newsletter-form input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  color: #3D3D3D;

}

.newsletter-form {
  display: flex;
  margin-top: 25px;

  background: #fff;
  overflow: hidden;
}

.newsletter-form .btn {
  padding: 11px 25px;
  border-radius: 0 6px 6px 0;
}

.features__newsletter p {
  color: #727272;
  margin-top: 18px;
  line-height: 22px;
  text-align: justify;

}

.custom-checkbox {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  padding: 0;
  width: fit-content;
}

.custom-check-icon {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #50514f;
  margin-right: 8px;
}

.custom-check-icon::before {
  content: "\2718";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.custom-checkbox input:checked~.custom-check-icon::before {
  display: block;
}

.footer-top {
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
  padding: 25px 0;
}

.footer-top__item--logo {
  flex: 0 0 auto;
}

.footer-top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3D3D3D;
  gap: 40px;

}

.footer-top__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #3D3D3D;
  max-width: 220px;
  word-break: break-word;
}

.footer-top__item svg {
  width: 20px;
  height: 20px;
  fill: none;

}

.footer-top__item address span {
  display: block;
  color: #3D3D3D;
}

.footer-top__item a {
  text-decoration: none;
  color: #3D3D3D;
}

.footer-top__item a:hover {
  text-decoration: underline;
}


.footer-main {
  padding: 40px 0;
  background: #FBFBFB;
}

.footer-main__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-column {
  flex: 1;
  min-width: 180px;
}

.footer-list {
  font-size: 14px;
  line-height: 30px;

}

.footer-list a {
  color: #3D3D3D;
  transition: 0.3s;
  overflow-wrap: break-word;
}

.footer-list a:hover {
  color: #46A358;
}

.social-list {
  display: flex;
  gap: 10px;

  margin-top: 18px;
}

.social-icon {

  transition: 0.6s;
}


.social-list a {
  height: 30px;
  width: 30px;
  display: flex;
  border: 1px solid #46A358;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}



.social-list a:hover svg {
  fill: #3D3D3D;
  transform: scale(1.1);
}

.payment {
  margin-top: 33px;

}

.footer-subtitle {
  margin-bottom: 13px;
}

.footer-bottom {
  border-top: 1px solid #46A35833;
  ;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #3D3D3D;
  line-height: 30px;
}

/* PRELOADER */
.loader_background {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
}

.preloader::after {
  position: absolute;
  top: 0;
  bottom: 4%;
  right: 0;
  left: 0;
  content: "";
  display: block;
  margin: auto;
  height: 32px;
  width: 32px;
  border: 4px solid;
  border-radius: 50%;
  border-top-color: #46A358;
  border-bottom-color: #a0efd2;
  border-right-color: #a0efd2;
  border-left-color: #a0efd2;
  animation: rotating 1.1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader_background.loaded {
  display: none;
}

.header__nav-burger {
  display: none;
}


/* mobile first */


@media (max-width: 992px) {
  .blog-list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .blog-card {
    flex: 0 0 calc(50% - 15px);
  }


  .promo-card {
    width: 100%;
  }

  .blog-section {
    margin-top: 126px;
  }

  .blog h2 {
    margin-top: 85px;
  }

  .features__inner {
    flex-direction: column;
    gap: 40px;
  }

  .features {
    margin-top: 70px;
  }




}

@media (max-width: 854px) {
  .promo {
    
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav>ul {
    gap: 25px;
  }

  .logo--img {
    width: 120px;
    height: auto;
  }

  .header .btn {
    padding: 6px 12px;
  }



  h1 {
    font-size: 50px;
    line-height: 1;
  }

  .description {
    padding-right: 0;
  }

  .products-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .tabs {
    gap: 20px;
  }

  .pagination {
    margin-top: 50px;
  }

  .product-card {
    width: calc(50% - 20px);
  }

  .promo {
    flex-direction: column;
  }

  .footer-main__inner {
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 0 0 calc(50% - 15px);
  }

  .footer-top {
    padding: 20px 0;
  }

  .footer-top__item {
    font-size: 11px;
    max-width: none;
  }

  .footer-main {
    padding: 30px 0;
  }



}

@media (max-width: 540px) {


  .header {
    padding-top: 15px;
  }

  .header__inner {
    padding-bottom: 12px;
    gap: 15px;
  }

  .logo--img {
    width: 110px;
  }

  .header .btn {
    padding: 6px 10px;
    font-size: 14px;
  }

  .login {
    margin-left: auto;

  }


  .header {
    position: relative;
    overflow-x: clip;
  }


  .header__nav-burger {
    display: block;

    position: relative;

    width: 30px;
    height: 50px;

    cursor: pointer;
  }

  .header__nav-burger i {
    position: absolute;

    display: block;

    height: 2px;
    width: 30px;

    left: 0;

    background: #46A358;

    transition: .3s;
  }

  .header__nav-burger i:nth-child(1) {
    top: 16px;
  }

  .header__nav-burger i:nth-child(2) {
    top: 24px;
  }

  .header__nav-burger i:nth-child(3) {
    top: 32px;
  }




  .nav {


    position: absolute;
    top: 100%;
    right: 0;
    background: #EDF6EE;
    transform: translateX(120%);
    transition: transform .4s;
    z-index: 1000;
  }

  .header.active .nav {

    transform: translateX(0);
  }

  .nav ul {

    flex-direction: column;
    gap: 0;
  }

  .nav li {
    margin: 0;
    border-bottom: 1px solid #46A358;
  }

  .nav li:last-child {
    border-bottom: none;
  }

  .nav a {
    padding: 10px;
    display: block;
  }

  .nav-link:after {
    bottom: 5px;
    display: none;
  }


  .header.active .header__nav-burger i:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
  }

  .header.active .header__nav-burger i:nth-child(2) {
    background: transparent;
  }

  .header.active .header__nav-burger i:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
  }


  .dropdown,
  .submenu {
    display: none !important;
  }


  .hero-inner {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;

  }

  h1 {
    font-size: 45px;
  }

  .hero .btn {
    margin-top: 25px;
  }

  .products .container {
    gap: 20px;
  }

  .sidebar-categories {
    margin-left: 0;
  }

  .sidebar {
    width: 37%;
  }

  .product-card {
    width: 100%;
  }

  .promo-card {
    padding-right: 0;
    flex-direction: column;
  }

  .promo-text {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .promo-text h3 {
    padding-left: 0;
  }

  .sort {
    font-size: 14px;
  }

  .page {
    padding: 8px 12px;
    font-size: 16px;
  }


  .features__list {
    flex-direction: column;
  }

  .features__item:not(:last-child)::after {
    display: none;
  }

  .features__item p {
    font-size: 20px;
  }

  .features {
    margin-top: 30px;
  }


  .footer-top__list {
    flex-direction: column;
    gap: 10px;
  }

  .footer-main__inner {
    justify-content: center;
  }

  .footer-column {
    text-align: center;
  }


}

@media (max-width: 391px) {
  .tabs li a {
    font-size: 12px;

  }

  .tabs li a.active {
    font-size: 13px;
  }
}

@media (max-width: 344px) {
  .tabs li a {
    font-size: 11px;

  }

  .tabs li a.active {
    font-size: 12px;
  }
}

@media (max-width: 854px) {
  .blog-list {
    
    flex-direction: column;
  }
}


@media (max-width:320px) {

  h1 {
    font-size: 30px;
  }


  .sidebar h3 {
    font-size: 14px;
    line-height: 12px;
  }

  .categories a {

    font-size: 13px;
  }

  .categories li {
    margin-top: 17px;
  }


  .tabs li a {
    font-size: 9px;

  }

  .tabs li a.active {
    font-size: 8px;
  }

  .products {
    margin-top: 20px;
  }

  .promo-text h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .blog-card-text h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .promo-card {
    padding-right: 0;
    flex-direction: column;
  }

  .promo-text {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .promo-text h3 {
    padding-left: 0;
  }

  .blog-list {
    flex-direction: column;
  }

  .newsletter-form {
    flex-direction: column;
    background: transparent;
    gap: 10px;
  }

  .newsletter-form input {
    border-radius: 6px;
  }

  .newsletter-form .btn {
    border-radius: 6px;
  }

  .features__item {
    padding-top: 100px;
  }

  .custom-checkbox {
    margin-left: 0;
  }

  .footer-main__inner {
    justify-content: center;
  }

  .footer-column {
    text-align: center;
  }
}